.main_slide{
    margin-bottom: 400px;
    height: 20vh !important;
}
.main_slide ~ img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.slider{
    /* height: 20vh; */
    box-shadow: 0px 5px 20px white;
}